# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
DerivedData/

# Android
android/.gradle/
android/app/build/
**/local.properties

# macOS
macos/Flutter/ephemeral/

# Linux/Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# VS Code / IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store